.mario:hover{
  opacity: 0.75;
  
  }
  
  .mario{
      display: inline;
     list-style-type: none;
     padding-right: 20px;
  }
  .TOP{
    position:fixed;
    margin: 0%;
  top: 0%;
  left: 0;
    display:inline-block;
    z-index: 500;
  }                      
  .body{
      background-size:cover;
      background-image:url(../images/unnamed.jpg);
  }
  .kirby{
      position: relative;
    height:230 ;
    left: 510;

     color: #ffb8f3;
      -webkit-text-stroke:1px #d108b0;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  .ka{
      color: rgb(251, 255, 0);
   font-size: 40px;
  
   text-align: center;

  }
  .k1{
      font-size: 70px;
      color: rgb(255, 255, 255);
      -webkit-text-stroke:3px #d108b0;
      text-align: center;
  }
           /* 画面外にいる状態 */
.fade1in {
	opacity : 0.1;
	transform : translate(0, 100px);
	transition : all 1000ms;
  color: aliceblue;
font-size: 40;
}

/* 画面内に入った状態 */
.fade1in.is-show
 {
	opacity : 1;
  transform : translate(0, 0);
}

  /* 画面外にいる状態 */
  .fade2in {
    opacity : 0.1;
    transform : translate(0, 300px);
    transition : all 1000ms;
    }
  
  /* 画面内に入った状態 */
  .fade2in.is-show
 {
    opacity : 1;
    transform : translate(0, 0);
  }
  
  /* 画面外にいる状態 */
  .fade3in {
    opacity : 0.1;
    transform : translate(0, 500px);
    transition : all 1500ms;
    }
  
  /* 画面内に入った状態 */
  .fade3in.is-show {
    opacity : 1;
    transform : translate(0, 0);
  }

  
  