.body {
  zoom: 1;
  background-image: url(../images/zeno2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom ;
 background-attachment: fixed;
  background-color:rgba(0, 0, 0, 0.8);
  background-blend-mode:darken;

}


.mario:hover{
    opacity: 0.75;
    
    }
    
    .mario{
        display: inline;
       list-style-type: none;
       padding-right: 20px;
    }
 
  .TOP{
  position:fixed;
  margin: 0%;
top: 0%;
left: 0;
  display:inline-block;
  z-index: 500;
} 

    .black1{
      font-size: 100;
      margin-left: 10%;
      color: aliceblue;
    }
    .black2{
      font-size: 40;
      margin-left: 10%;
      color: aliceblue;
      height: 200;
    }

    .opa1{
      font-size: 100;
      color: aliceblue;
      text-align:right;
margin-right: 10%;
 
        }

    .opa2{
      font-size: 40;
          color: aliceblue;
          margin-right: 23%;
     text-align:right;
     height: 200;
    }



   /* 画面外にいる状態 */
.fade1in {
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
    transition: all 1s;
  }
  

/* 画面内に入った状態 */
.fade1in.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

  /* 画面外にいる状態 */
.fade2in {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: all 1s;
}


/* 画面内に入った状態 */
.fade2in.is-show {
opacity: 1;
visibility: visible;
transform: translateY(0px);
}
 /* 画面外にいる状態 */
 .fade3in {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: all 1s;
}


/* 画面内に入った状態 */
.fade3in.is-show {
opacity: 1;
visibility: visible;
transform: translateY(0px);
}

.slider {
  width: 2000px;
  height: 800px;
  overflow: hidden;
  margin: 0 auto;
}




@keyframes expansion{
  0% { margin-left:00px; }
  100% { margin-left:-00px; }
}



